<!DOCTYPE html>
<html>
<% include ../pages/header %>
<body>	<!-- Fixed navbar -->
<div class="navbar navbar-fixed-top navbar-inverse" style='margin-top:-2px;'>
	<div class="navbar-inner">
		<div class="container">
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li class='active'><a class="brand" href="../" ><i class='icon-book'></i>NoSQLi Challenge <%= stage %></a></li>
				</ul>
				<ul class="nav pull-right">
					<li class='active' style='margin-top:2px;'><a href="#" ><i class="icon-user"></i>&nbsp; Login &nbsp; </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- end of fixed Nav bar-->

	<div class="container">
	    <br>
        <div class="row " >
            <div class="span3"></div>
            <div id="login" class="span6 well" style='background :white; border:1px silver solid;'>
                <h4>Login:</h4>
				<input type="text" class="input-block-level" placeholder="username\email" id="creds">
				<input type="password" class="input-block-level" placeholder="password" id="password">

                <b><span id='notification'></span></b>
                <center><input class="btn btn-primary" id="search" value = "&larr; Go &rarr;" style="margin-top:20px;"/></center>
                <hr/>
                <p><b>Rules: </b><kbd>Try to think outside of the box to bypass the login</kbd></p>
            </div>
        </div>
	</div>
	<script>
		$("#search").click(function () {
			$.ajax({
				url: "/api/safe_login",
				type: "POST",
				contentType: "application/json",
				data: JSON.stringify(
					{
						"creds": $("#creds").val(),
						"password":$("#password").val()
					}
				),
				success: function(data)
				{
					$("#notification").html(data.msg);
				}
			});
		});
	</script>
</body>
</html>
